@model Ged_app.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        @Styles.Render("~/Content/assets/css/auth.css")
    </head> 

    <body class="main-bg">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <div class="login-container text-c animated flipInX">
            <div>
                <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
            </div>
            <h3 class="text-whitesmoke">Create A User</h3>
            <p class="text-whitesmoke">Please write in all these cases.</p>
            <div class="container-content">
                <form class="margin-t" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" required="" name="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Surname" required="" name="surname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="" name="email">
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Status" required="" name="idGroup">*@

                        @Html.DropDownList("userStatus", ViewBag.Status as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="*****" required="" name="password">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" placeholder="Avatar" required="" name="avatarFile">
                    </div>
                    <button type="submit" class="form-button button-l margin-b">Submit</button>
                </form>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </body>
</html>
